
.fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

.fragment.fade-out.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

.fragment.fade-out.visible.current-fragment {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

.container{
    display: flex;
}

.col{
    flex: 1;
}

.reveal p {
    padding: 0px;
    margin-top: 0.1em;
}

.rendered_html * + ul {
    margin-top: 0.1em;
}

.rendered_html h1:first-child {
    margin-top: 0em;
    margin-bottom: 0.7em;
}

div.output_subarea {
    padding: 0em;
    overflow-y: hidden;
}

.rendered_html h3 {
    font-size: 128.6%;
    margin: 0.8em 0 0 0;
    font-weight: bold;
    line-height: 1.0;
}

.rendered_html h2 {
    margin: 0.8em 0 0 0;
}

div.output_area .MathJax_Display {
    text-align: center !important;
}

.reveal section img {
    margin: 6px 0px;
}

.reveal li{
    margin-top: 10px;
}

.reveal li:first-child {
    margin-top:0;
}