<!doctype html>
<html lang="{{ HTML_LANG }}">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta name="author" content="{{ AUTHOR }}">

  {% block extra_meta %}
  {% endblock %}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />

  {% if PELICAN_SOBER_STICKY_SIDEBAR %}
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/custom_scripts.js"></script>
  {% endif %}

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  {% block scripts %}
  {% endblock %}

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
</head>

<body>
  {{ FEED_ATOM }}
  <div class="container">

    <header role="banner">
      <!-- <div class="feeds"> -->
      <!-- 	{% if FEED_ALL_ATOM %} -->
      <!-- 	<a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/feed-32px.png" alt="atom feed"/></a> -->
      <!-- 	{% endif %} -->
      <!--   {% if FEED_ALL_RSS %} -->
      <!-- 	<a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" rel="alternate"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/feed-32px.png" alt="rss feed"/></a> -->
      <!--   {% endif %} -->
      <!-- </div> -->
      <a href="{{ SITEURL }}" class="title">{{ SITENAME }}</a>

      <img src="{{ SITEURL }}/images/logo_LEGI.jpg" style="width: 8%;"
      align="right" vspace="3"/>

      <img src="{{ SITEURL }}/images/logo_CNRS.jpg" style="width: 4%;"
      align="right" hspace="15" vspace="2" />

      <img src="{{ SITEURL }}/images/logo_UGA.jpg" style="width: 7%;" align="right"
      vspace="3" />
    </header>

    <div class="wrapper">

      <div role="main" class="content">
	{% block content %}{% endblock %}
      </div>

      <div class="sidebar">
	<div class="sidebar-container" {% if PELICAN_SOBER_STICKY_SIDEBAR %}id="sidebar-container-fixed"{% endif %}>

	  {% if PELICAN_SOBER_ABOUT %}
	  <aside>
	    <h2>About</h2>
	    <p>
              {{ PELICAN_SOBER_ABOUT }}
	    </p>
	  </aside>
	  {% endif %}

	  <nav>
	    <ul class="noindent">
	      <li ><a href="{{ SITEURL }}/pages/research.html">Research</a></li>
	      <li ><a href="{{ SITEURL }}/publications.html" >
	      Publications</a></li>
	      <li ><a href="{{ SITEURL }}/pages/teaching.html">Teaching</a></li>
	      <li ><a href="{{ SITEURL }}/pages/cv.html">CV</a></li>
	      <li ><a href="{{ SITEURL }}/pages/links.html">Links</a></li>
	      <li ><a href="{{ SITEURL }}/pages/fluiddyn-project.html">
		  FluidDyn
	      </a></li>
	      <li ><a href="{{ SITEURL }}/archives.html">News</a></li>
	    </ul>
	  </nav>

	  <aside>
	    <h2>Contact</h2>
	    <p> pierre.augier[at]legi.cnrs.fr<br>
	    LEGI, CS 40700,<br>
	    38058 Grenoble Cedex 9<br>
	    0033 4 56 52 86 16</p>
	  </aside>

	  {% if LINKS %}
	  <aside>
	    <h2>Quick links</h2>
	    <ul class="noindent">
	      {% for name, link in LINKS %}
	      <li><a href="{{ link }}">{{ name }}</a></li>
	      {% endfor %}
	    </ul>
	  </aside>
	  {% endif %}

	  <nav>
	    <h2>Categories</h2>
	    <ul class="noindent">
	      {% for cat, null in categories %}
	      <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	      {% endfor %}
	    </ul>
	  </nav>

	  {% if SOCIAL %}
	  <aside>
	    <h2>Social</h2>
	    <ul class="social">
	      {% for name, link in SOCIAL %}
	      <li><a href="{{ link }}">{{ name }}</a><i></i></li>
	      {% endfor %}
	    </ul>
	  </aside>
	  {% endif %}


	</div>
      </div>

    </div>

    <footer>
      <p role="contentinfo">
	{{ AUTHOR }} - Powered by
	<a href="http://alexis.notmyidea.org/pelican/">pelican</a>
	(<a href="https://bitbucket.org/paugier/website-pa">source code</a>).
	Theme inspired
	by <a href="https://github.com/fle/pelican-sober">pelican-sober</a>.
      </p>

    </footer>

  </div>

  {% if GOOGLE_ANALYTICS %}
  <script>
    var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endif %}

</body>
</html>
