{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

<h1>Welcome</h1>

<font size=+1>
<table>
  <tbody>
    <tr>
      <td></td>
      <td align="justify" >
    	I am a CNRS researcher at LEGI (Laboratoire des Ecoulements
    	Geophysiques et Industriels, UMR 5519).
    	<br><br>
    	My main research interests concern fluid dynamics and
    	turbulence, mainly applied to geophysical flows. In my work, a
    	combination of lab experiments, numerical calculations,
    	theoratical derivations and data analysis are used in order to
    	investigate instabilities and turbulence in stratified and
    	rotating fluids. Please, feel free to contact me for further
    	information about my work.
	<br><br>
    	<!-- <p style="margin-top:3em"> </p> -->
      </td>
      <td>&nbsp;</td>
      <td align="right">
    	<img src="./images/pierre_augier_zigzag.jpg" alt="Photo"
    	     border="0" width="80%">
    	<center> <font SIZE=-2>zigzag instability in le
    	    Louvre?</font> </center>
      </td>
    </tr>
  </tbody>
</table>
</font>


<h1>News and posts</h1>
<dl>
{% for article in dates %}
<dt>{{ article.locale_date }}</dt>
<dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>

{% endblock content %}
