{% extends "article_list.html" %}

{% block content %}

<p>
  <font size=+1>
    <table>
      <tbody>
      <tr>
        <td></td>
        <td align="justify" >
        I am a CNRS researcher at LEGI (Laboratoire des Ecoulements
        Geophysiques et Industriels, UMR 5519).
        <br><br>
        My main research interests concern fluid dynamics and
        turbulence, mainly applied to geophysical flows. In my work, a
        combination of lab experiments, numerical calculations,
        theoratical derivations and data analysis are used in order to
        investigate instabilities and turbulence in stratified and
        rotating fluids.
      <br><br>
        </td>
        <td>&nbsp;</td>
        <td align="right">
        <img src="./images/pierre_augier_zigzag.jpg" alt="Photo"
           border="0" width="60%">
        <center> <font SIZE=-2>zigzag instability in le
          Louvre?</font> </center>
        </td>
      </tr>
      </tbody>
    </table>
  </font>
</p>

<h2>News and posts</h2>

{{ super() }}

{% endblock %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block banner %}
	{% include 'includes/banner.html' %}
{% endblock %}