{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}

<section id="content" class="body">
  <h1 class="entry-title">Publications</h1>

  {% if ORCID_ID %}
  <div itemscope itemtype="https://schema.org/Person">
    See also my ORCID account
    <a itemprop="sameAs" content="https://orcid.org/{{ ORCID_ID }}" href="https://orcid.org/{{ ORCID_ID }}"
      target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img
        src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;"
        alt="ORCID iD icon">https://orcid.org/{{ ORCID_ID }}</a>
  </div>
  <p></p>
  {% endif %}

  {% for yeargroup in publications|groupby(1)|reverse %}
  <h2> {{ yeargroup.grouper }} </h2>
  <ul>
    {% for key, year, text, bibtex, pdf, slides, poster in yeargroup.list %}
    <p>
      <li id="{{ key }}">{{ text }}
        <br />
        {% for label, target in [('PDF', pdf),
	                         ('Slides', slides), ('Poster', poster)] %}
        {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
        {% endfor %}
      </li>
    </p>
    {% endfor %}
  </ul>
  {% endfor %}

</section>
{% endblock %}